.desktop.point {
  &-item {
    @apply flex items-center rounded-full px-[15px] py-[5px] gap-[10px] w-full;

    p {
      @apply line-clamp-1;
    }

    img {
      @apply w-[56px] h-[56px] rounded-full object-cover;
    }
  }
  &-content {
    @apply grid grid-cols-2 gap-[10px] my-[24px];

    & {
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* Internet Explorer и Edge */
    }

    /* Для WebKit-браузеров (Chrome, Safari, Opera) */
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }
  }
}
