.clear-cart-modal {
    @apply w-[75%] h-[25%];
    position: fixed;
    top: -100%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 10;
    transition: 0.5s;
    transform: translateX(-50%);

    img {
        @apply absolute right-[10px] top-[10px] cursor-pointer;
    }

    &.active {
        top: 50%;
        @apply translate-x-[-50%] rounded-[10px] translate-y-[-50%];
    }

    &__btns {
        @apply flex gap-[10px] mt-[20px];

        button {
            @apply px-[20px] py-[10px] rounded-[12px];
        }
    }
}