.home {
  &__left,
  &__right {
    padding-bottom: 100px;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888; 
      border-radius: 4px; 
    }
    &::-webkit-scrollbar-track {
      background: #f0f0f0;
      border-radius: 4px;
    }
  }

  &__right {
    flex: 1;
  }
}

.busket__modal {
  @apply fixed top-0 left-0 w-[100vw] h-[100vh] flex items-center justify-center bg-[rgba(0,0,0,0.5)] z-40;
}


.busket__modal-wrapper {
  @apply bg-[#fff] p-5 rounded-[10px] max-w-[500px] w-[100%] z-50;
}
