.food-detailll {
    @apply hidden;
    &.active {
        @apply block;
    }
    &__bg {
        @apply fixed top-0 left-0 ring-0 bottom-0 w-full h-full z-[1];
        opacity: 0.1;
    }
    &__content {
        @apply pr-[40px] overflow-auto;
        
        /* Стилизация скроллбара для Webkit (Chrome, Safari) */
        &::-webkit-scrollbar {
            width: 6px; /* Ширина скроллбара */
        }
    
        &::-webkit-scrollbar-track {
            background: #f8f8f8; /* Цвет фона трека */
        }
    
        &::-webkit-scrollbar-thumb {
            background: #c4c4c4; /* Цвет ползунка */
            border-radius: 10px; /* Закругление */
        }
    
        &::-webkit-scrollbar-thumb:hover {
            background: #a0a0a0; /* Цвет при наведении */
        }
    }
    

    &__wrapper {
        @apply max-w-[634px] w-full max-h-[555px] h-full flex fixed top-[50%] z-[2] left-[50%] rounded-[10px] gap-[16px] pl-[60px] py-[30px];
        transform: translate(-50%, -50%);
    }
    &__close {
        @apply absolute right-[10px] top-[10px] cursor-pointer;
    }
    &__img {
        @apply w-[200px] h-[162px];
    }
    &__head {
        @apply flex items-center justify-between mb-[10px];
    }
    &__price,
    &__title {
        @apply font-[600] text-[16px];
    }
    &__description {
        @apply font-[400] text-[14px] leading-[18px];
    }
    &__btns {
        @apply flex items-center gap-[15px] mt-[24px];
    }
    &__quantity-btn {
        @apply flex items-center justify-between  p-[16px] max-w-[141px] w-full rounded-[12px];
        img {
            @apply cursor-pointer;
        }
    }
    &__add-btn {
        @apply w-[141px] h-[56px] flex items-center justify-center font-[600] text-[16px] rounded-[12px];
    }
    &__lil-head {
        @apply flex items-center justify-between mt-[25px];

        &-sabtitle {
            @apply font-[600] text-[16px];
        }
        &-required {
            @apply font-[500] text-[12px];
        }
    }

    &__size {
        @apply flex items-center justify-between gap-[8px];
        &-item {
            @apply rounded-[8px] w-[94px] h-[74px] flex flex-col justify-center items-center cursor-pointer mt-[10px];
        }
        &-title {
            @apply font-[400] text-[16px];
        }
        &-price {
            @apply font-[400] text-[14px];
        }
    }

    &__container {
        @apply flex items-center justify-between my-[24px];
        &-btn {
            @apply flex items-center justify-between font-[600] text-[16px] gap-[12px];
        }
        &-money {
            @apply font-[400] text-[14px];
        }
    }

    &__ingridients {
        h4 {
            @apply font-[600] text-[16px] mb-[8px];
        }

        ul {
            @apply list-disc pl-[20px] text-[14px] font-[400] leading-[19px];
        
            li {
                @apply marker:text-black marker:font-bold marker:text-[18px];
            }
        }
        
    }
}
