.header {
  @apply py-[12px];

  &__content {
    @apply flex justify-between items-center;
  }

  &__logo {
    @apply flex gap-[12px] items-center
  }

  &__name {
    @apply font-[700] text-[#090A0B] text-[16px] mt-[4px]
  }

  &__inner {
    @apply flex gap-[4px] items-center
  }

  &__table {
    @apply font-[500] text-[#626576] text-[12px]
  }

  h2 {
    @apply text-[24px];
  }

  select {
    @apply text-white h-[32px] w-[83px] appearance-none bg-no-repeat text-[14px] font-semibold rounded-[8px] pl-[17px] py-[4px] outline-none;
    background-image: url('src/assets/icons/Header/white-arrow.svg'),
      linear-gradient(#875aff, #875aff);
    background-position-x: 80%;
    background-position-y: center;
  }

  option {
    @apply bg-white text-black;
  }
}
