.header {
    @apply py-[12px];

    &__content {
        @apply flex justify-between items-center;
    }

    &__logo {
        @apply flex gap-[12px] items-center;
    }

    &__name {
        @apply font-[700] text-[#090A0B] text-[16px] mt-[4px];
    }

    &__inner {
        @apply flex gap-[4px] items-center;
    }

    &__table {
        @apply font-[500] text-[#626576] text-[12px];
    }

    h2 {
        @apply text-[24px];
    }

    &__language {
        @apply relative;

        &-selected {
            @apply bg-[#F9F9F9] h-[32px] w-[61px] rounded-[8px] px-[12px] py-[4px] text-[12px] text-[#090A0B] font-[500] flex gap-[4px] items-center justify-center cursor-pointer;

            img {
                transition: 0.3s all;
            }

            &.active {
                transition: 0.3s all;
                img {
                    transform: rotate(180deg);
                    transition: 0.3s all;
                }
            }
        }
    }

    &__wrapper {
        @apply absolute left-0 top-[31px] w-[61px] h-0 flex items-center flex-wrap p-0 bg-[#F9F9F9] justify-center rounded-[8px] z-10 overflow-hidden box-border;
        border: 1px solid #efefef;
        transition: 0.3s;

        &.active {
            @apply h-[57px] py-[5px] px-[4px] top-[37px];
            transition: 0.3s;
        }
    }

    &__item {
        @apply text-[12px] text-[#090A0B] font-[500] cursor-pointer w-full text-center;
    }

    &__line {
        @apply w-[37px] h-[1px] bg-[#EFEFEF];
    }
}
