.busket__order-type {
    @apply flex items-center justify-between gap-[8px];

    &-wrapper {
        @apply flex items-center gap-[16px] py-[19px] px-[16px] w-[50%] rounded-[8px];
        border: 1px solid;
    }

    &-checkbox {
        @apply w-[20px] h-[20px] rounded-[50%];
        border: 1px solid;
    }

    @media screen and (max-width:385px) {
        & {
            @apply flex-col
        }
        &-wrapper {
            width: 100%;
        }
    }
}
