.busket__sum {
    @apply p-[12px] rounded-[12px] mt-[20px] mb-[12px];

    &-wrapper {
        @apply h-0 overflow-hidden;
        transition: 0.2s;

        &.active {
            @apply h-[165px] ;
            overflow: unset
        }
    }

    &-top {
        @apply flex items-center justify-between font-[500] text-[14px] mb-[16px];
    }

    &-img {
        transition: 0.3s;

        &.active {
            transform: rotate(180deg);
        }
    }

    &-item {
        @apply flex items-center justify-between font-[500] text-[12px] leading-[13px] py-[8px];
    }

    &-total {
        @apply font-[500] text-[12px] leading-[24px];
    }

    &-ress {
        @apply flex items-center justify-between font-[500] text-[14px] pt-[16px];
        border-top: 1px solid;
    }
}
