.desktop.siteHeader {
    @apply py-[20px] pt-[20px];

    &__content {
        @apply bg-[#fff] rounded-[12px] p-[12px];

        hr {
            @apply my-[10px];
        }
    }

    &__top {
        @apply flex justify-between items-center;
    }

    &__logo {
        @apply flex gap-[12px] items-center;
    }

    &__search {
        @apply  w-2/4 flex gap-[10px] py-2 px-2 rounded-[8px];

        input {
            @apply rounded-none bg-transparent w-2/4;

            &::-webkit-input-placeholder {
                @apply text-[#090A0B];
            }
        }
    }

    &__name {
        @apply font-[900] text-[17px] mt-[4px];
    }

    &__block {
        @apply flex gap-[23px];
    }

    &__user {
        @apply h-[32px] w-[32px] rounded-[8px] flex justify-center items-center cursor-pointer;
    }

    &__language {
        @apply relative;

        &-selected {
            @apply h-[32px] w-[61px] rounded-[8px] px-[12px] py-[4px] text-[12px] font-[500] flex gap-[4px] items-center justify-center cursor-pointer;

            img {
                transition: 0.3s all;
            }

            &.active {
                transition: 0.3s all;

                img {
                    transform: rotate(180deg);
                    transition: 0.3s all;
                }
            }
        }

        &.active {
            &::after {
                content: "";
                @apply absolute w-[37px] h-[2px] bg-[#EFEFEF] top-[64px] left-[13px] z-[11];
            }
        }
    }

    &__bottom {
        @apply flex items-center justify-between gap-12;
    }

    &__notify {
        @apply bg-[#F9F9F9] p-[8px] rounded-[8px] flex items-center gap-2;

        img {
            @apply w-[25px] h-[25px];
        }
    }

    &__check {
        @apply bg-[#F9F9F9] p-[8px] rounded-[8px] flex items-center gap-2;

        img {
            @apply w-[25px] h-[25px];
        }
    }


    &__wrapper {
        @apply absolute left-0 top-[31px] w-[61px] h-0 flex items-center flex-wrap p-0 justify-center rounded-[8px] z-10 overflow-hidden box-border gap-[4px];
        transition: 0.3s;

        &.active {
            @apply h-[57px] py-[5px] px-[4px] top-[37px];
            border: 1px solid #efefef;
            transition: 0.3s;
        }
    }

    &__item {
        @apply text-[12px] font-[500] cursor-pointer w-full text-center;
    }

}